body {
    background-color: #4c8bf5;
}

.navbar-brand {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700 !important;
    font-size: 40% !important;
    color: #081f3a !important;
}

.navbar-brand h4 {
    margin-left: -1.5%;
    line-height: 0.6;
    font-weight: 500;
    font-size: 340%;
    color: #081f3a !important;
}

.navbar-nav li a {
    font-family: 'Helvetica', serif;
    color: #081f3a !important;
    font-size: 125% !important;
}

.jumbotron {
    padding: 23%;
    background-image: url("../images/advisory.jpg");
    background-size: cover;
    background-position: 0 35%;
}

h1 {
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 50px;
    margin-top: -20%;
    margin-left: -10%;
    color: black;
    /*text-shadow: 1px 1px;*/
}

.card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
}

.footer a {
    line-height: 2;
}

.copyrights {
    background-color: white;
    color: #081f3a;
}

.display-4 {
    color: #081f3a;
}

.box1 {
    background-color: white;
    color: #081f3a;
}