body {
    padding-top: 50px;
}
/*MAIN INDEX PAGE*/
/*NAVBAR*/
.navbar {
    background-color: white !important;
    width: 100% !important;
}

.navbar button {
    position: absolute;
}

.navbar a img{
    width: 45%;
    height: 45%;
}

.navbar li {
    font-family: "Helvetica Neue", serif;
    font-weight: 200;

}

.navbar li a {
    color: #052331 !important;
    font-size: 140%;
}
/*NAVBAR END*/

/*JUMBOTRON*/
.index-jumbotron {
    height: 90vmin;
    background: url("../../images/city.jpg") no-repeat center;
    background-size: cover;
}

.index-jumbotron h1 {
    font-weight: 900;
    font-size: 550%;
    color: white;
}
/*JUMBOTRON END*/

/*ABOUT*/
.about {
    font-family: "Helvetica Neue", serif;
    background-color: #F7F9FA;
    margin-top: -6% !important;
}
/*ABOUT END*/

/*MISSION VISION*/
.about .missioncard {
    font-family: "Helvetica Neue", serif;
    background-color: white;
    min-height: 300%;
    color: #052331;
    width: 100% !important;
}

.missioncard h3 {
    font-weight: 600;
    font-size: 34px;
}

.missioncard h5 {
    font-size: 20px;
    font-weight: 100;
    color: dimgrey;
}

.icon {
    font-size: 97px;
    color: #052331;
}

.missionvision .blueText {
    color: #4c8bf5 !important;
}
/*MISSION VISION END*/

/*SERVICES*/
.services {
    width: 98%;
    margin: 0 auto !important;
    margin-top: -1% !important;
}

.services .list {
    font-weight: 500;
    font-family: "Helvetica Neue", serif;
    font-size: 330%;
}

.services .col {
    height: 500px;
    max-height: 500px;
    background-color: #F7F9FA;
}

.services .col1 {
    background: url("../../images/financialstatementaudit.jpg") no-repeat center;
    background-size: cover;
    color: white;
}

.services .col2 {
    background: url("../../images/Duediligence.jpg") no-repeat center;
    background-size: cover;
    color: #3555D1;
}

.services .col3 {
    background: url("../../images/mng.jpg") no-repeat center;
    background-size: cover;
    color: #3555D1;
}

.services .col4 {
    background: url("../../images/taxconsultancy.jpg") no-repeat center;
    background-size: cover;
    color: white;
}

/*SERVICES END*/

/*FOOTER*/
.footer {
    background-color: #052331;
    margin: 0 auto !important;
    bottom: 0;
    width: 100%;
}

.footer #footertitle {
    font-family: "Book Antiqua", serif;
    line-height: 1;
    font-size: 177%;
    color: white;
}

.footer #footersubtitle1{
    font-family: "Book Antiqua", serif;
    line-height: 1;
    font-size: 120%;
    color: white;
}

.footer .footersubtitle{
    font-family: "Helvetica", serif;
    line-height: 1;
    font-size: 120%;
    color: white;
    font-weight: 200;
}

.footer .subfooter {
    font-family: "Helvetica Neue", serif;
    font-weight: 200 !important;
    color: white;
}

.footer h5{
    font-family: "Helvetica Neue", serif;
    font-weight: 400 !important;
    color: white;
}

.copyrights p {
    font-family: "Helvetica Neue", serif;
    font-weight: 200;
}
/*FOOTER END*/

/*COPYRIGHTS*/
.copyrights {
    background-color: #CEDFE2;
    margin: 0 auto !important;
    display: inline-flex;
    width: 100%;
}
/*/COPYRIGHTS*/
/*/MAIN INDEX PAGE*/

/*CONTACT PAGE*/
.contact .contact-subheader {
    font-family: "Helvetica Neue", serif;
    font-weight: 200;
}

.contact .message {
    height: 300px;
}

.contact .content h1 {
    font-size: 90px;
    font-weight: 900;
}

.contact {
    vertical-align: center;
    background-color: #CEDFE2;
}
/*/CONTACT PAGE*/

/*CAREERS PAGE*/
.careers-jumbotron {
    height: 60vmin;
    background: url("../../images/team.jpg") no-repeat center;
    background-size: cover;
}

.careers-jumbotron .careers-header {
    font-weight: 900;
    font-size: 800%;
    color: white;
}

.careers-subheader {
    font-family: "Helvetica Neue", serif;
    font-size: 400%;
    color: #052331;
}

.career-subtitle {
    font-size: 200%;
    /*font-weight: 300;*/
    font-family: "Helvetica Neue", serif;
}

.careers-main li {
    font-family: "Helvetica Neue", serif;
    font-size: 130%;
    font-weight: 300;
}

.career-info {
    font-size: 170%;
    font-weight: 300;
    font-family: "Helvetica Neue", serif;
}

.careers-form {
    width: 400px;
    margin: auto;
}

/*ABOUT PAGE*/
.about-p {
    vertical-align: center !important;
}
/*/ABOUT PAGE*/

/*MOBILE*/
@media (max-width: 768px) {
    .navbar a img{
        width: 75%;
        margin-left: 18%;
    }

    .index-jumbotron h1 {
        font-weight: 800;
        font-size: 350% !important;
        margin-top: 5%;
        line-height: 0.8;
    }

    .careers-jumbotron .careers-header {
        font-size: 350% !important;
        color: white;
    }

    .careers-form {
        width: 300px;
        margin: auto;
    }

    .contact .content h1 {
        font-size: 70px !important;
        font-weight: 900;
    }

    .contact .contact-subheader {
        font-family: "Helvetica Neue", serif;
        font-weight: 200;
        font-size: 20px !important;
    }

}