/*NAVBAR*/
#title {
    font-family: "Book Antiqua", serif;
    font-size: 200%;
    color: midnightblue;
    line-height: 1;
}

#subtitle {
    font-family: "Book Antiqua", serif;
    line-height: 0;
    font-size: 137%;
    color: midnightblue;
}

.navbar li {
    font-family: "Helvetica Neue", serif;
    font-size: 140%;
    color: midnightblue;
}
/*NAVBAR END*/

/*JUMBOTRON*/
.jumbotron {
    background: url("../images/road.jpeg") center;
    height: 850px;
    color: midnightblue;
    position: relative;
}

.jumbotron .lead {
    font-size: 145%;
    color: midnightblue;
}
/*JUMBOTRON END*/

/*ABOUT*/
.about {
    font-family: "Helvetica", serif;
    color: midnightblue;
    background-color: #F7F9FA;
    margin-top: -6% !important;
    position: relative;
}

.vision {
    font-size: 200% !important;
    background-color: #4c8bf5;
    color: #052331;
}

.vision .maintext {
    font-weight: 400;
    color: #052331;
}
/*ABOUT END*/

/*MISSION VISION*/
.about .missioncard {
    background-color: white;
    min-height: 300%;
    color: #052331;
}

.icon {
    font-size: 90px;
    color: #4c8bf5;
}

.about .vision {
    font-size: 200% !important;
    background-color: white;
    color: #052331;
}

.shadow {
    background-color: #B9BABB;
    /*width: 100%;*/
    height: 30%;
}
/*MISSION VISION END*/

/*SERVICES*/
.services {
    background-color: #4c8bf5;
    color: #052331;
    font-family: "Helvetica Neue", serif;
    font-weight: 100;
    /*z-index: 1;*/
    position: relative;
    margin-top: -3%;
    width: 100%;
}

.services h1 {
    font-weight: 200;
    font-size: 60px;
}

.services .list {
    font-weight: 300;
    justify-content: center;
    font-size: 250%;
}
/*SERVICES END*/

/*ACCREDITATIONS*/
.accreditations img {
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.accreditations .text-center {
    font-size: 60px;
    font-weight: 200;
}
/*ACCREDITATION END*/

/*FOOTER*/
.footer {
    background-color: #F7F9FA;
}

.footer #footertitle{
    font-family: "Book Antiqua", serif;
    line-height: 0.3;
    font-size: 150%;
}

.footer .footersubtitle{
    font-family: "Book Antiqua", serif;
    line-height: 0.3;
}

.footer .subfooter {
    font-family: "Helvetica Neue", serif;
    font-weight: 200 !important;
}

.footer h5{
    font-family: "Helvetica Neue", serif;
    font-weight: 400 !important;
}
/*FOOTER END*/