body {
    padding-top: 50px;
}
/*MAIN INDEX PAGE*/
/*NAVBAR*/
.navbar {
    background-color: white !important;
    width: 100% !important;
}

.navbar button {
    position: absolute;
}

.navbar a img{
    width: 45%;
    height: 45%;
}

.navbar li {
    font-family: "Helvetica Neue", serif;
    font-weight: 200;

}

.navbar li a {
    color: #182454 !important;
    font-size: 140%;
}
/*NAVBAR END*/

/*JUMBOTRON*/
.index-jumbotron {
    height: 65vmin;
    background: url("../../images/brighterfuture.png") no-repeat center;
    background-size: cover;

}

.index-jumbotron h1 {
    font-weight: 800;
    font-size: 600%;
    text-shadow: 1px 1px 2px #3e3939;
}

.firsth1 {
    color: #182454;
}

.secondh1 {
    color: #4c8bf5;
}

.thirdh1 {
    color: white;
}
/*JUMBOTRON END*/

/* HOME-ABOUT PHRASE */
.index-about {
    background-color: #00126b;
}
.index-about h1{
    color: white;
    font-weight: 800;
}
/* HOME-ABOUT PHRASE END */

/*SERVICES*/
.services {
    width: 98%;
}

.services .list {
    font-family: "Helvetica Neue", serif;
    font-size: 330%;
}

.services .col {
    height: 500px;
    max-height: 500px;
    background-color: #F7F9FA;
}

.services .col1 {
    background: url("../../images/financialstatementaudit.png") no-repeat center;
    background-size: cover;
    color: white;
}

.services .col2 {
    background: url("../../images/taxconsultancy.png") no-repeat;
    background-size: cover;
    color: #00126b;
}

.services .col3 {
    background: url("../../images/mng.jpg") no-repeat center;
    background-size: cover;
    color: #00126b;
}

.services .col4 {
    background: url("../../images/duediligence.png") no-repeat center;
    background-size: cover;
    color: white;

}

.first-1 {
    font-weight: 100;
}

.first-2 {
    font-weight: 500; 
}

/*SERVICES END*/

/*MISSION*/
.homepage-mission {
font-family: "Helvetica Neue", serif;
    background-color: #F7F9FA;
    margin-top: -6% !important;    
}

.homepage-mission .missioncard {
    font-family: "Helvetica Neue", serif;
    background-color: white;
    min-height: 300%;
    color: #494a4f;
    width: 100% !important;
}

.missioncard h3 {
    font-weight: 300;
    font-size: 34px;
}

.missioncard h5 {
    font-size: 20px;
    font-weight: 100;
    color: dimgrey;
}

.icon {
    font-size: 97px;
    color: #182454;
}

.missionvision .blueText {
    color: #00126b !important;
    font-weight: 600;
}
/*MISSION END*/

/*FOOTER*/
.footer {
    background-color: #00126b;
    margin: 0 auto !important;
    bottom: 0;
    width: 100%;
}

.footer #footertitle {
    font-family: "Book Antiqua", serif;
    line-height: 1;
    font-size: 177%;
    color: white;
}

.footer #footersubtitle1{
    font-family: "Book Antiqua", serif;
    line-height: 1;
    font-size: 120%;
    color: white;
}

.footer .footersubtitle{
    font-family: "Helvetica", serif;
    line-height: 1;
    font-size: 120%;
    color: white;
    font-weight: 200;
}

.footer .subfooter {
    font-family: "Helvetica Neue", serif;
    font-weight: 200 !important;
    color: white;
}

.footer h5{
    font-family: "Helvetica Neue", serif;
    font-weight: 400 !important;
    color: white;
}

.copyrights p {
    font-family: "Helvetica Neue", serif;
    font-weight: 200;
}
/*FOOTER END*/

/*COPYRIGHTS*/
.copyrights {
    background-color: #dfe5f2;
    margin: 0 auto !important;
    display: inline-flex;
    width: 100%;
}
/*/COPYRIGHTS*/
/*/MAIN INDEX PAGE*/

/*CONTACT PAGE*/
.contact .contact-subheader {
    font-weight: 200;
    color: black;
}

.contact .message {
    height: 300px;
}

.contact .content h1 {
    font-size: 600%;
    font-weight: 900;
    color: black;
}

.contact {
    vertical-align: center;
    background-color: #dfe5f2;
}

#contact-form small {
    visibility: hidden; 
}

#contact-form.success input {
    border-color: #2ecc71 !important; 
}

#contact-form.error input {
    border-color: #e74c3c;;
}

#contact-form.error small {
    visibility: visible; 
    color: #e74c3c;
}


/*/CONTACT PAGE*/

/*CAREERS PAGE*/
.careers-jumbotron {
    height: 60vmin;
    background: url("../../images/careers.JPG") no-repeat center;
    background-size: cover;
}

.careers-jumbotron .careers-header {
    font-weight: 700;
    font-size: 680%;
    color: white;
    text-shadow: 1px 2px 2px #3e3939;
}

.careers-subheader {
    font-family: "Helvetica Neue", serif;
    font-size: 300% !important;
    font-weight: 700;
    color: #182454;
}

.career-subtitle {
    font-size: 50px;
    font-family: "Helvetica Neue", serif;
}

.career-qualifications {
    font-size: 40px;
    font-weight: 100;
    font-family: "Helvetica Neue", serif;
    text-shadow: 1px 1px 1px #3e3939;
}

.career-offer {
    font-size: 40px;
    font-weight: 700;
    font-family: "Helvetica Neue", serif;
    text-shadow: 1px 1px 1px grey;
}

.check li {
    list-style: none;
    font-weight: 500 !important; 
}

  
.check li:before {
    content:"\2714\0020";
  }

.careers-main li {
    font-family: "Helvetica Neue", serif;
    font-size: 150%;
    font-weight: 300;
}

.careers {
    background-color: #dfe5f2;
}

.career-info {
    font-size: 170%;
    font-weight: 300;
    font-family: "Helvetica Neue", serif;
}

.careers-form {
    width: 400px;
    margin: auto;
}

/*ABOUT PAGE*/
.about-p {
    vertical-align: center !important;
    background-color: #00126b;
}

.about-p .firstheader {
    color: white;
    font-weight: 700;
    font-size: 36px;
}

.about-p .first-subheader {
    color: white;
    font-size: 27px;
}

.about-mv .mv-image {
    height: 1000px; 
}

.client-image {
    object-fit: cover;
    width: 104%;
    height: 100%;
}

.community-image {
    object-fit: cover;
    width: 104%;
    height: 100%;
}

.people-image {
    object-fit: cover;
    width: 104%;
    height: 100%;
}

.header-bold {
    font-size: 100px;
    font-family: "Helvetica", serif;
    color: #00126b;
    font-weight: 600;
}

.header-thin {
    font-size: 300%;
    font-family: "Helvetica", serif;
    font-weight: 100;
}

.content-about {
    color: dimgrey;
    font-size: 150%;
    font-weight: 200;
    font-family: "Helvetica Neue", sans-serif;

}

.vision-content {
    font-size: 300%;
    font-weight: 400;
    font-family: "Helvetica Neue", sans-serif;
    color: #00126b;
}

.mv {
    font-weight: 900;
    font-size: 600%;
    color: black;
}

.about-mv {
    background-color: #dfe5f2;
}

.vision-row {
    height: 250px; 
}
/*/ABOUT PAGE*/

/*MOBILE*/
@media (max-width: 768px) {
    .navbar a img{
        width: 75%;
        margin-left: 18%;
    }

    .index-jumbotron h1 {
        font-weight: 800;
        font-size: 350% !important;
        margin-top: 5%;
        line-height: 0.8;
    }

    .careers-jumbotron .careers-header {
        font-size: 350% !important;
        color: white;
    }

    .careers-form {
        width: 300px;
        margin: auto;
    }

    .contact .content h1 {
        font-size: 70px !important;
        font-weight: 900;
    }

    .contact .contact-subheader {
        font-family: "Helvetica Neue", serif;
        font-weight: 200;
        font-size: 20px !important;
    }

    .index-about {
        font-size: 10px;
    }

}

/*052331*/